Checks: >
  clang-analyzer-*,     # static analysis engine
  bugprone-*,           # static analysis engine
  google-*,             # google clang checks
  modernize-*,          # safer, modern constructs
  performance-*,        # can catch inefficient or risky code
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers

WarningsAsErrors: ""

HeaderFilterRegex: ".*"

AnalyzeTemporaryDtors: false

FormatStyle: file

CheckOptions:
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: lower_case
