name: Build all artifacts

on:
#  push:
#    branches: [ master ]
#    tags-ignore:
#      - 'v*.*.*.*' # v0.0.0.0
  pull_request:
    branches: [ master ]
  workflow_dispatch:
    branches: [ master ]
  workflow_call:
jobs:
  build-linux-x64:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.0.0
    - name: Make (clean, release)
      run: make clean release
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: msxbas2rom-linux-x64-bin
        path: bin/Release/msxbas2rom

  build-mac-x86_64:
    runs-on: macos-latest
    steps:
    - name: Setup
      run: brew install argp-standalone
    - name: Checkout
      uses: actions/checkout@v2.0.0
    - name: Make -> clean release
      run: make clean release
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: msxbas2rom-mac-x86_64-bin
        path: bin/Release/msxbas2rom*

  build-windows-x32:
    runs-on: windows-latest
    steps:
    - name: Set up MinGW (32 bits)
      uses: Honeybunch/setup-mingw@v3
      with:
        platform: x86
    - name: Checkout
      uses: actions/checkout@v2
    - name: Make -> clean release (32bits)
      run: make PARMS=-m32 clean release
    - name: Upload artifact (32bits)
      uses: actions/upload-artifact@v3
      with:
        name: msxbas2rom-windows-x32-bin
        path: bin/Release/msxbas2rom.exe

  build-windows-x64:
    runs-on: windows-latest
    steps:
    - name: Set up MinGW (64 bits)
      uses: Honeybunch/setup-mingw@v3
      with:
        platform: x64
    - name: Checkout
      uses: actions/checkout@v2
    - name: Make -> clean release (64bits)
      run: make PARMS=-m64 clean release
    - name: Upload artifact (64bits)
      uses: actions/upload-artifact@v3
      with:
        name: msxbas2rom-windows-x64-bin
        path: bin/Release/msxbas2rom.exe


